* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 900px;
}

#debug header section:first-child {
    background-color: #ADD8E6;
}

#debug .container {
    /* border: 2px solid red; */
    padding: 10px;
}

#debug header [class^='col'] {
    border: 2px dashed black;
    background-color: #DAA520;
}

header section:last-child {
    background-color: blue;
}

#debug .container-intro {
    width: 700px;
    min-height: 200px;
    background-color: #EE82EE;
    border: 1px dashed black;
}

.row {
    display: flex;
}

.row-cols-3 > .col {
    flex-basis: calc(100% / 3)
}

.row-cols-3 > .col-50 {
    flex-basis: 50%;
    align-self: center;
}

header .row-cols-3 {
    padding: 10px 0;
}

.row-intro {
    justify-content: center;
    align-items: center;
}

#debug [class~='img'] {
    min-height: 200px;
    background-color: #1E90FF;
    border: 1px dashed black;
}

#debug [class~='text'] {
    width: 200px;
    min-height: 200px;
    background-color: #FFC0CB;
    border: 1px dashed black;
}

main .row-cols-2 {
    justify-content: center;
}

[class~='img'] {
    flex-basis: 60%;
}

[class~='text'] {
    flex-basis: 40%;
}


#debug main section:nth-child(2) {
    background-color: #D3D3D3;
}

main section:nth-child(2) .row {
    flex-direction: row-reverse;
}


#debug main section:last-child {
    background-color: #D3D3D3;
}

#debug main section:last-child .col {
    width: 900px;
    min-height: 500px;
    background-color: #228B22;
    border: 1px dashed black;
}

#debug footer {
    background-color: #23272A;
}


#debug footer section:first-child .row-cols-2 > .col:first-child {
    background-color: #F08080;
    min-height: 200px;
    border: 1px dashed black;
}

footer section:first-child .row-cols-2 > .col {
    flex-basis: 50%;
}

#debug .row-cols-4 > .col {
    background-color: #20B2AA;
    min-height: 200px;
    border: 1px dashed white;
}

 .row-cols-4 > .col {
    flex-basis: calc(100% / 4);
}

.line {
    background-color: grey;
    height: 1px;
}

#debug footer section:last-child .row {
    background-color: #7FFFD4;
    max-width: 900px;
    min-height: 50px;
    
}

#debug footer section:last-child .row-cols-2 > .col {
    background-color: #FFB6C1;
    border: 1px dashed black;
}

footer section:last-child .row-cols-2 {
    justify-content: space-between;
    align-items: center;
}

[class~='logo-footer'], [class~='button'] {
    height: 20px;
}

