* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 900px;
}

#debug header section:first-child {
    background-color: #ADD8E6;
}

#debug .container {
    border: 2px solid red;
    padding: 10px;
}

#debug [class^='col'] {
    border: 2px dashed black;
    background-color: #DAA520;
}

header section:last-child {
    background-color: blue;
}

#debug .container-intro {
    width: 700px;
    min-height: 200px;
    background-color: #EE82EE;
    border: 1px dashed black;
}

.row {
    display: flex;
}

.row-cols-3 > .col {
    flex-basis: calc(100% / 3)
}

.row-cols-3 > .col-50 {
    flex-basis: 50%;
    align-self: center;
}

header .row-cols-3 {
    padding: 10px 0;
}

.row-intro {
    justify-content: center;
    align-items: center;
}

#debug [class~='img'] {
    min-height: 200px;
    background-color: #1E90FF;
    border: 1px dashed black;
}

#debug [class~='text'] {
    width: 200px;
    min-height: 200px;
    background-color: #FFC0CB;
    border: 1px dashed black;
}

main .row-cols-2 {
    justify-content: center;
}

[class~='img'] {
    flex-basis: 60%;
}

[class~='text'] {
    flex-basis: 40%;
}


#debug main section:nth-child(2) {
    background-color: #D3D3D3;
}

main section:nth-child(2) .row {
    flex-direction: row-reverse;
}


#debug main section:last-child {
    background-color: #D3D3D3;
}

#debug main section:last-child .col {
    width: 900px;
    min-height: 500px;
    background-color: #228B22;
    border: 1px dashed black;
}