* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 900px;
}

#debug section:first-child {
    background-color: #ADD8E6;
}

#debug .container {
    border: 2px solid red;
    padding: 10px;
}

#debug [class^='col'] {
    border: 2px dashed black;
    background-color: #DAA520;
}

header section:last-child {
    background-color: blue;
}

#debug .container-intro {
    width: 700px;
    min-height: 200px;
    background-color: #EE82EE;
    border: 1px dashed black;
}

.row {
    display: flex;
}

.row-cols-3 > .col {
    flex-basis: calc(100% / 3)
}

.row-cols-3 > .col-50 {
    flex-basis: 50%;
}

header .row-cols-3 {
    padding: 10px 0;
}

.row-intro {
    justify-content: center;
    align-items: center;
}

.container-intro {

}
